/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}



  .flexbox-work {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* height: 100vw; */
    height: 100%;
    /* align-items: center; */
    justify-content: space-evenly;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    /* background-image: url("../images/footer_lodyas.png"); */
    position: absolute;
    top: 0px;
    /* width: -webkit-fill-available; */
    width: 95%;
    max-width: 1088px;
  }

  @media only screen and (min-width: 1088px) {
    .flexbox-work {
      /* position: unset; */
    }
  }

  .flexbox-work a,
  .flexbox-work a:visited {
    color: #fff;
    text-decoration: none;
    }
    .flexbox-work p {
    margin: 0;
    }

  .flexbox-work:hover img {
    opacity: 0.28;
  }
  .flexbox-work .item {
    position: relative;
    width: 30.33%;
    opacity: 1;
    /* margin: 1%; */
    margin: 0 1%;
    object-fit: contain;
    height: auto;
  }
  .flexbox-work .item img {
    width: 100%;
    display: block;
    transition: all .8s;
    opacity: 1;
    object-fit: contain;
    height: auto;
  }
  .flexbox-work .item .title {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    color: transparent;
    /* padding: 0 3%; */
    font-size: 30px;
    /* text-shadow: 0 0 8px #041217; */
  }

  .flexbox-work .item .sub-title {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: transparent;
  /* padding: 0 3%; */
  font-size: 14px;
  }


  .flexbox-work .item:hover img {
    opacity: .3;
  }

  .flexbox-work .item:hover .title {
    opacity: 1;
    color: white;
    /* font-weight: bold; */
  }
  
  @media (max-width: 860px) {
    .flexbox-work {
      height: 220vw;
    }
    .flexbox-work .item {
      width: 48%;
    }
  }
  /* @media (max-width: 667px) {
    .flexbox-work {
      height: auto;
    }
    .flexbox-work .item {
      width: 100%;
    }
  } */



      <!-- <div class="flexbox-work">
        <div class="item">
          <a href="https://find-a-market.herokuapp.com/">
            <img src="./assets/images/farmers-market.png" />
            <p class="title">Farmers Market Finder</p>
            <p class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, eaque, quo in
              eius ducimus labore ex rem ea molestias maxime officia doloremque itaque quia dicta repudiandae. Itaque
              harum suscipit consequuntur.
            </p>
          </a>
        </div>
        http://abel.codes/giftastic/

        <div class="item">
          <a href="https://exhibitwholesale.com/">
            <img src="./assets/images/zoom-Exhibit-Wholesale copy.png" />
            <p class="title">Exhibit Wholesale</p>
            <p class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, eaque, quo in
              eius ducimus labore ex rem ea molestias maxime officia doloremque itaque quia dicta repudiandae. Itaque
              harum suscipit consequuntur.
            </p>
          </a>
        </div>
        <div class="item">
          <a href="https://altagraciaapparel.com/">
            <img src="./assets/images/alta-alt.png" />
            <p class="title">Alta Gracia</p>
            <p class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, eaque, quo in
              eius ducimus labore ex rem ea molestias maxime officia doloremque itaque quia dicta repudiandae. Itaque
              harum suscipit consequuntur.
            </p>
          </a>
        </div>
        <div class="item">
          <a href="https://abeltej.github.io/project-one/">
            <a href="https://abel.codes/project-one/">
            <img src="./assets/images/justint.png" />
            <p class="title">ADAJAMZ</p>
            <p class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, eaque, quo in
              eius ducimus labore ex rem ea molestias maxime officia doloremque itaque quia dicta repudiandae. Itaque
              harum suscipit consequuntur.
            </p>
          </a>
        </div>
        <div class="item">
          <a href="http://abeltej.github.io/triviagame/">
            <img src="./assets/images/harrypottertrivia.png" />
            <p class="title">Harry Potter Trivia</p>
            <p class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, eaque, quo in
              eius ducimus labore ex rem ea molestias maxime officia doloremque itaque quia dicta repudiandae. Itaque
              harum suscipit consequuntur.
            </p>
          </a>
        </div>
        <div class="item">
          <a href="https://womensinternationalsoccershop.com/">
            <img src="./assets/images/WISSpage.png" />
            <p class="title">WISS</p>
            <p class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, eaque, quo in
              eius ducimus labore ex rem ea molestias maxime officia doloremque itaque quia dicta repudiandae. Itaque
              harum suscipit consequuntur.
            </p>
          </a>
        </div>
      </div> -->