
/* reset above  code below */

body {
    font-family: "Century Gothic", "Lato", sans-serif;
    height: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  .et-hero-tabs,
  .et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    /* background: #eee; */
    text-align: center;
    padding: 0 2em;
  }
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
  }
  
  .et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
  }
  .et-hero-tabs-container--top {
    position: fixed;
    top: 0;
  }
  
  .et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
  }
  .et-hero-tab:hover {
    color: white;
    background: rgba(102, 177, 241, 0.8);
    transition: all 0.5s ease;
  }
  
  .et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
  }
  
  @media (min-width: 800px) {
    .et-hero-tabs h1,
  .et-slide h1 {
      font-size: 3rem;
    }
    .et-hero-tabs h3,
  .et-slide h3 {
      font-size: 1rem;
    }
  
    .et-hero-tab {
      font-size: 1rem;
    }
  }
  /* 
  gallery / work css
  */
  
  #tab-work{
    background-image: url("../images/footer_lodyas.png");
    display: grid;
    grid-gap: 5px;
    height: 90vh;
    grid-template-columns: repeat(3, auto);
  }

  @media (max-width: 1150px) {
    #tab-work {
      grid-template-columns: repeat(2, auto);
       height: 100%;
    }
  }

  @media (max-width: 750px) {
    #tab-work {
      grid-template-columns: repeat(1, auto);
      height: 100%;
    }
  }

  #tab-work img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    /* max-width: 100%; */
  }

  .grid-gallery {
    position: relative;
    display: flex;
    align-items: center;
    margin: 5px;
    visibility: visible;
    opacity: 1;
  }

  .gallery-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;  
  }

.grid-gallery:hover .text-container {
  visibility: visible;
  opacity: 1;
}

.grid-gallery:hover  .gallery-img {
  opacity: .3;
}

.text-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
  width: 300px;
  height: 200px;
}

.title {
  /* padding: 10px;
  margin: 5px; */
  margin: 0;
  padding: 20px;
}

.sub-title {
  padding: 10px;
  margin: 5px;
}  
  /* CSS FOR HEADER HERO */

  .header {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    font-family: "Raleway", sans-serif;
    /* background: #F9F8F8; */
    box-sizing: border-box;
    height: 50%;
  }

  .header h1 {
    font-size: 7rem;
    color: white;
    /* color: #222222; */
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 200;
    justify-content: center;
    display: flex;
  }

  @media (max-width: 922px) {
    .header h1 {
      font-size: 5rem;
    }
  }
  
  .glitch-window {
    position: absolute;
    top: 0;
    left: -2px;
    width: 100%;
    color: #222222;
    text-shadow: 2px 0 #F9F8F8, -1px 0 yellow, -2px 0 green;
    overflow: hidden;
    animation: crt-me 13s infinite linear alternate-reverse;
  }
  
  @keyframes crt-me {
    0% {
      clip: rect(31px, 9999px, 94px, 0);
    }
    10% {
      clip: rect(112px, 9999px, 76px, 0);
    }
    20% {
      clip: rect(85px, 9999px, 77px, 0);
    }
    30% {
      clip: rect(27px, 9999px, 97px, 0);
    }
    40% {
      clip: rect(64px, 9999px, 98px, 0);
    }
    50% {
      clip: rect(61px, 9999px, 85px, 0);
    }
    60% {
      clip: rect(99px, 9999px, 114px, 0);
    }
    70% {
      clip: rect(34px, 9999px, 115px, 0);
    }
    80% {
      clip: rect(98px, 9999px, 129px, 0);
    }
    90% {
      clip: rect(43px, 9999px, 96px, 0);
    }
    100% {
      clip: rect(82px, 9999px, 64px, 0);
    }
  }

  /* gradient color */

  @import url('https://fonts.googleapis.com/css?family=Raleway:200');


#box {
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
}
.gradient-border {
  --borderWidth: 3px;
  /* background: #1D1F20;
  position: relative; */
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 13s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/* 
about me css section */

@import url('https://fonts.googleapis.com/css?family=Roboto:700');

#tab-about {
  height: auto;
}

.flexbox-about{
  display: flex;
  font-family:'Roboto';
  flex-direction: row;      
  justify-content: center;  
  align-items: center;  
  margin: 50px auto 25px auto;
}

@media (max-width: 750px) {
  .flexbox-about {
    flex-direction: column;    
    overflow: auto;
  }
}

@media (max-width: 750px) {
  body .flexbox-about > .flex-item {
    height: unset;
    flex: 0 0 33%;
    margin-top: unset;
    width: 100%;
    overflow: auto;
  }
} 

@media (max-width: 750px) {
  body .about--container {
    min-height: 0;
    flex-direction: row;
    max-width: 440px;
  }
} 

@media (max-width: 450px) {
  body .about--container {
    flex-direction: column;
  }
} 

@media (max-width: 750px) {
  body .about--container > .flex-item {
    height: 100%;
  }
}

@media (max-width: 450px) {
  .profile-pic {
    max-width: 60% !important;
    margin: 25px;
  }
}

@media (max-width: 750px) {
  body .about--fun-text {
    /* font-size: 27px; */
    margin: unset;  
    /* margin: 20px; */
    padding: 5px;
    margin: 25% auto;
    /* flex-grow: 1; */
    /* flex-basis: 0; */
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  body .image-container {
    margin: unset;    
    padding: 5px;

    /* flex-grow: 1;
    flex-basis: 0; */
  }
}

.flexbox-about > .flex-item {
  margin: 25px;
  /* flex: 0 0 50%; */
}

.about--container{
  flex: 0 0 33%;
  display: flex;               
  flex-direction: column;         
  justify-content: space-between;  
}

.about--container > .flex-item {
  height: 50%;
}

.about-h1{
  text-transform: uppercase;
  text-align: center;
}

.about-h2{
  margin: 15px auto;
  padding: 5px;
  max-width: 400px;
  text-align: left;
  color: #313A3D;
  opacity: 0.7 !important;
  letter-spacing: .2rem !important;
  font-size: 1.3rem !important;
  line-height: 1.4 !important;
}

.about-text--style{
  line-height: 1.7;
  text-align: left;  
  margin: 15px auto;
  padding: 5px;
  max-width: 400px;
  color:#313A3D;  
}

 @media (max-width: 645px) {
    .about-text--style {
      font-size: 15px;
    }
  }

.image-container{
  margin: 25px;
}

.profile-pic{
  max-width:100%;
  max-height:100%;
  border-radius: 15px;
}

.about--fun-text {
  /* color:#999; */
  color:#313A3D;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  margin:0px;
  text-align:center;
}

.about--fun-text > .flex-item {
  flex: 0 0 22%;
  border: 1px dashed #333;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

/* 
Contact Form */

#tab-contact{
  background-image: url("../images/footer_lodyas.png");
}

#hire{
  width: 100%;
}

#hire-h1{
  color: #E8E9EA;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.email-box{
  margin: 15px 0px;
}

form {
  width: 58.3333333333%;
  margin: 0 auto;
}
form .field {
  width: 100%;
  position: relative;
  /* margin-bottom: 15px; */
}
form .field label {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  background: #313A3D;
  color: #E8E9EA;
  border: 1px solid;
  width: 100%;
  padding: 18px 0;
  font-size: 1.45em;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

form .field input[type=text],
form .field textarea {
  border: none;
  background: #E8E9EA;
  width: 80.5%;
  margin: 0;
  height: 30px;
  padding: 18px 0;
  padding-left: 19.5%;
  color: #313A3D;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
form .field input[type=text]#msg,
form .field textarea#msg {
  height: 30px;
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type=text]:focus, form .field input[type=text].focused,
form .field textarea:focus,
form .field textarea.focused {
  outline: none;
}
form .field input[type=text]:focus#msg, form .field input[type=text].focused#msg,
form .field textarea:focus#msg,
form .field textarea.focused#msg {
  padding-bottom: 150px;
}
form .field input[type=text]:focus + label, form .field input[type=text].focused + label,
form .field textarea:focus + label,
form .field textarea.focused + label {
  width: 18%;
  background: #313A3D;
  color: #E8E9EA;
}
/* form .field input[type=text].focused + label,
form .field textarea.focused + label {
  color: #FD9638;
  background-color: red;
} */
form .field:hover label {
  width: 18%;
  background: #313A3D;
  color: white;
}

button {
  background: #E8E9EA;
  margin-top: 25px;
  color: black;
  -webkit-appearance: none;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding: 13px 50px;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
  border-radius: 15px;
}
button:hover {
  background: #313A3D;
  color: #E8E9EA;
  border: 1px solid;
}
button:focus {
  outline: none;
  /* content: "Sent!"; */
  background: rgb(34, 245, 34);
  color: black;
  position: relative;
}
